@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Set a dark background for the whole page */
body {
  background-color: #1a202c; /* A dark background */
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}